[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
bumpversion = "~=0.5"
wheel = "~=0.34"
watchdog = "~=0.10"
flake8 = "~=3.7"
tox = "~=3.14"
coverage = "~=5.0"
pytest = "~=5.3"
pytest-runner = "~=5.2"
Sphinx = "~=2.4"
twine = "~=3.1"
pyfakefs = "~=3.7"
pytest-cov = "~=2.8"

[packages]
decryptoquote = {path = ".",editable = true}
